{% extends 'subscription/examples/yourlabs/base.html' %}

{% load subscription_yourlabs_tags %}
{% load i18n %}

{% block body %}
    {% for notification in notification_list %}
        {% ifchanged notification.datetime.date %}
            {% if not forloop.first %}
                </ul>
            {% endif %}
        <h3>
            {% if notification.datetime.date == today %}
                {% trans 'today' %}
            {% else %}
                {{ notification.datetime.date }}
            {% endif %}
        </h3>
        <ul>
        {% endifchanged %}

        <li>
            hi!
            {% yourlabs_notification_render notification 'list' %}
        </li>

        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
