{% extends 'subscription/notifications/base.html' %}

{% load i18n %}

{% block story %}
    {% if viewer == actor %}
        {% trans 'You' %}
    {% else %}
        <a href="{{ actor.get_absolute_url }}">{{ actor }}</a>
    {% endif %}

    {% if content.username %}
        {% if viewer == content %}
            {% trans 'posted on your wall' %}
        {% else %}
            {% blocktrans with url=content.get_absolute_url %}posted on <a href="{{ url }}">{{ content }}</a>'s wall{% endblocktrans %}
        {% endif %}
    {% else %}
        {% trans 'commented on' %}
        <a href="{{ content.get_absolute_url }}">{{ content }}</a>
    {% endif %}
{% endblock %}
