{% extends 'base.html' %}
{% load url from future %}

{% block body %}
<h1>Welcome to django-subscription-yourlabs example project !</h1>

<p>
    Open the website in two browsers (say chromium and firefox), login with
    "steve" in one and with "james" in the other. The password for both is
    "test".
</p>
<p>
    Get steve to post on james and vice versa.
</p>
<p>
    project_specific.py contains the only python that ties this project and
    django-subscription. You can tweak this and even the templates if you want !
</p>
<p>
    Look at subscription/examples/yourlabs/apps, it contains actual examples
    and particularely the comments example which is enabled in this app. You
    can install the other apps in this example project and enable the other
    examples.
</p>
{% endblock %}
